html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Open-Sans';
    font-size: 10px;
    color: var(--accent1);
    
}

body {
    max-width: 1500px;
    margin: 0 auto;
}

.body-content-wrapper {
    z-index: -1;
}

:root {
    --main: #FF52C1;
    --accent1: #00252E;
    --accent2: #FFFFFF;
}

h1 {
    font-size: 4.8rem;
    line-height: 7.2rem;
}

h3 {
    font-size: 4rem;
}

p {
    font-size: 1.6rem;
}

button {
    border: none;
    border-radius: 10rem;
    background-color: var(--main);
    color: var(--accent2);
    font-weight: 600;
    font-size: 2rem;
}

button:hover {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

.section-indent {
    width: 80%;
    margin: auto;
    max-width: 1200px;
    
}


.header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 7.8rem;
}

.header-cta {
    color: var(--main);
    background-color: var(--accent2);
    font-weight: 200;
    font-size: 1.6rem;
    border: 1px solid;
    height: 4rem;
    width: 13.6rem;
}

.main {
    height: 1500px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-title {
    color: var(--accent1);
}

.main .subtitle {
    font-size: 2rem;
    margin-top: 2.6rem;
    width: 70%;
    margin: auto;
}

.main-cta {
    height: 8rem;
    width: 40rem;
    margin: auto;
    margin-top: 4.9rem;
}

.main-img {
    margin-top: 12rem;
}

.stats {
    display: flex;
    margin-top: 24rem;
    justify-content: space-between;
    width: 60%;
}

.stat-box {
    display: flex;
    flex-direction: column;
}

.stat-icon  {
    height: 5.6rem;
    width: 5.6rem;
}

.stat-number {
    font-size: 9.6rem;
    margin: auto;
    margin-top: 1rem;
}

.stat-title {
    font-size: 2.4rem;
    margin: auto;
    margin-top: 1rem;
}

.feature {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    /* margin-top: 40rem; */
}



.feature-wrap {
    margin-top: 40rem;
} 


.feature-bg {
    position: absolute;
    z-index: -1;
    /* top: 0; */
    left: 0;
    right: 0;
    width: 1800px;
}

.feature-col {
    width: 50%;
}

.bottom-cta {
    text-align: center;
    margin-top: 40rem;
}
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 25rem;
    color: var(--accent2);
}

.footer-main-container {
background-color: var(--accent1);
height: 450px;
width: 100%;
margin: 0;
padding: 0;
display: flex;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 10%;
}

.footer-content > * {
    width: 40%;
}

.company-info > * {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;

}

.company-info > * > *{ 
    margin: 0;
}

.input-row {
    display: flex;
    gap: 4rem;
}

.input-row form {
    background: transparent;
    overflow: hidden;
    height: fit-content;
    width: fit-content
}

.input-row form * {
    height: fit-content;
    width: 100px;
}

.newsletter > * {
    margin: 0;
    margin-top: 3rem;
}

.newsletter h4 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.newsletter p {
    line-height: 2.75rem;
}

.input-row > * {
    border-radius: .5rem;
    border: none;
    height: 4.8rem;
}

.input-row button {
    min-width: 16rem;
    font-size: 1.2rem;
}

.input-row input {
    width: 32rem;
}

.social {
    display: flex;
    gap: 2rem;
    margin-top: 6rem;
}

.social > * {
    cursor: pointer;
}


.feature-bg.mobile {
    display: none;
}



.form-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-form {
    background-color: white;
    height: 70%;
    width: 50%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.form-cancel {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.form-title {
    flex:4 0 100%;
    text-align: center;
    font-size: 4rem;
}

.request-form input, select {
    border-radius: .5rem;
    border: .1rem solid rgb(93, 93, 93);
}

button {
    cursor: pointer;
}

select:after {
    appearance: none;
}

select::-ms-expand {
    display: none;
}

select {
    /* appearance: none; */
    /* background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit; */
}


.try-modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.try-modal.show {
    opacity: 1;
    visibility: visible;
    opacity: 1;

}

form {
    background: white;
    min-height: 400px;
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    border-radius: 1rem;
    position: relative;
    
}

form > h3 {
    font-size: 3.2rem;
}

form > * {
    width: 80%;
    margin: 0 auto;
}

form > input {
    height: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 1rem;
}

.form-btn {
    height: 5rem;
    padding: 4rem auto;
}

input::placeholder {
    padding-left: 2rem !important;
}

.close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: fit-content;
    font-size: 2rem;
    line-height: 2rem;
    background: var(--accent1);
    color: var(--accent2);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    opacity: .5;
    cursor: pointer;
}

.footer-wave {
    transform: translateY(3%)
}

@media screen and (max-width: 1050px) {
    
    .header-container {
        margin-top: 2.4rem;
    }

    .header-logo {
        width: 100px !important;
    }

    .header button {
        width: 80px;
        font-size: 1.1rem;
    }

    .main {
        
        display: flex;
        height: 900px;
    }

   
    .main-title{
        font-size: 2.4rem;
        line-height: 150%;
        margin-top: 10rem;
        margin-bottom: 2.4rem;
    }

    .main .subtitle {
        margin: 0 0;
        width: 100%;
        font-size: 1.4rem;
    }

    .main-cta {
        width: 200px;
        height: 40px;
        font-size: 1.2rem;
        margin: 0 auto;
        margin-top: 4rem;
    
    }

    .main.section-indent {
        margin-top: 10rem !important;
    }

    .margin-img {
        margin: 0 auto;
    }

    .stats {
        margin-top: 5rem;
        flex-direction: column;
        gap: 6rem;
    }

    .stat-number {
        font-size: 6rem;
        margin-left: 0;
        margin-right: 0;
    }

    .stat-title {
        margin-left: 0;
    }

    .feature {
        flex-direction: column;
        margin-top: 20rem;
    }

    .feature-bg.desktop {
        display: none;
    }

    .feature-bg.mobile {
        display: unset;
    }
    .feature-bg {
        left: -50%;
        height: 150%;
        width: 200%;
        top: -30%;
    }

    .feature-col {
        width: 100%;
        text-align: center;
    }

    .feature-img {
        order: -1;
    }

    .feature-title {
        font-size: 2rem;
    }

    .feature-subtitle {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.4rem;
    }

    .footer {
        height: 840px;
    }

    .footer-main-container {
        height: 840px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }



    .footer-content > * {
        width: 100%;
        
    }

    .footer-content * {
        align-items: center;
        justify-content: center;
       
    }

    .newsletter {
        order: -1;
    }

    .input-row {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .input-row > *, .input-row input, .input-row button {
        width: 40rem;
    }

    .company-info {
        margin-top: 10rem;
        justify-content: space-between;
    }

    .ftr-tag-line {
        margin-bottom: 3rem;
    }

    .social {
        margin-top: 3rem;
    }

    .company-info {
        gap: 5rem;
    }
    .company-info > * {
        margin: 2rem auto;
        gap: 3rem;
    }
}